<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>نام و نام خانوادگی</th>
    <td mat-cell *matCellDef="let element"> {{element['firstname']}} {{element['lastname']}}</td>
  </ng-container>

  <ng-container matColumnDef="code">
    <th mat-header-cell *matHeaderCellDef> کد دانشجویی </th>
    <td mat-cell *matCellDef="let element"> {{element['uid']}} </td>
  </ng-container>

  <ng-container matColumnDef="food">
    <th mat-header-cell *matHeaderCellDef> نام غذا </th>
    <td mat-cell *matCellDef="let element">
      <mat-chip-list>
        <mat-chip *ngFor="let food of element['foods']">
          {{food}}
        </mat-chip>
      </mat-chip-list>
    </td>
  </ng-container>

  <ng-container matColumnDef="drink">
    <th mat-header-cell *matHeaderCellDef> نوشیدنی </th>
    <td mat-cell *matCellDef="let element">
      <span *ngIf="element['drinkings'].length == 0">ندارد</span>
      <span *ngIf="element['drinkings'].length != 0">
        <mat-chip-list>
          <mat-chip *ngFor="let drink of element['drinkings']">
            {{drink}}
          </mat-chip>
        </mat-chip-list>
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="optional">
    <th mat-header-cell *matHeaderCellDef> مخلفات </th>
    <td mat-cell *matCellDef="let element">
      <span *ngIf="element['optionals'].length == 0">ندارد</span>
      <span *ngIf="element['optionals'].length != 0">
        <mat-chip-list>
          <mat-chip *ngFor="let optional of element['optionals']">
            {{optional}}
          </mat-chip>
        </mat-chip-list>
      </span>
    </td>
  </ng-container>

   <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> توضیحات </th>
    <td mat-cell *matCellDef="let element">
      <h4 *ngIf="element['description'] && !element['isOk']" style="color:darkred">{{element['description']}}</h4>
      <h4 *ngIf="element['description'] && element['isOk']" style="color:darkgreen">{{element['description']}}</h4>

  
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="Columns"></tr>
  <tr mat-row *matRowDef="let row; columns: Columns;"></tr>
</table>