mat-toolbar{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

mat-toolbar div.spacer{
    flex: 1 1;
}

div.background{
    position: absolute;
    background-color: #1976d2;
    width: 100%;
    height: 300px;
    z-index: -10;
}

div.background.min{
    height: 250px;
}

mat-sidenav-container{
    width: 100vw;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

mat-sidenav{
    width: 350px;
    padding-top: 80px;
}

div.body{
    display: flex;
    flex-direction: column;
    margin: 0 30px;
    margin-top: 140px;
}

div.message{
    background-color: #fafafa;
    padding: 0 10px;
    border-radius: .3rem;
    margin-top: 65px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

div.message h4{
    margin: 0;
}

div.message + div.card{
    margin-top: 20px !important;
}

div.card{
    background-color: #fafafa;
    padding: 20px;
    margin-top: 45px;
    border-radius: .3rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}
div.card img{
    width: 150px;
    height: 150px;
    margin-left: 30px;
    border-radius: 100%;
  
}

div.card div.info h4{
    margin-bottom: 0;
}

div.card div.info h4 + span{
    font-size: .8rem;
    margin-bottom: 20px;
    margin-right: 1px;
}

div.card div.info p{
    margin: 0;
    margin-top: 4px;
    margin-right: 10px;
}

div.card div.info div.error{
    color: red;
}

div.card div.footer{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

div.card div.footer p{
    margin: 0;
}

div.card div.footer div.spacer{
    flex: 1 1;
}

button[mat-mini-fab]{
    position: fixed;
    bottom: 3vh;
    left: 3vh;
}

button[mat-mini-fab] svg{
    width: 16px;
    height: 16px;
}

mat-chip-list{
    margin: 5px;
}


@keyframes cf3FadeInOut {
  0% {
  opacity:1;
}
45% {
opacity:1;
}
55% {
opacity:0;
}
100% {
opacity:0;
}
}

#cf3 img.top {
animation-name: cf3FadeInOut;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 10s;
animation-direction: alternate;
}
