<ng-container>
    <mat-toolbar color="primary">
        <button  mat-icon-button style="margin-left: 10px;" (click)="opened = !opened">
            <svg xmlns="http://www.w3.org/2000/svg" fill="#fff" viewBox="0 0 48 48">
                <path d="M6 36h36v-4H6v4zm0-10h36v-4H6v4zm0-14v4h36v-4H6z" /></svg>
        </button>
        <span>نرم افزار تحویل غذای بادام</span>
        <div class="spacer"></div>
        <mat-menu #appMenu="matMenu">
            <button mat-menu-item (click)="exit()">خروج از حساب</button>
        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="appMenu"><svg xmlns="http://www.w3.org/2000/svg" fill="#fff"
                viewBox="0 0 48 48">
                <path
                    d="M24 16c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 4c-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm0 12c-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4z" />
                </svg></button>
    </mat-toolbar>
    <mat-sidenav-container>
        <mat-sidenav #sidenav [mode]="mode" [opened]="opened" [fixedInViewport]="options.value.fixed"
            [fixedTopGap]="options.value.top" [fixedBottomGap]="options.value.bottom">
            <app-sidenav></app-sidenav>
        </mat-sidenav>
        <mat-sidenav-content [formGroup]="options">
            <div class="background" [ngClass]="{'min': !udata}"></div>
            <div class="body">
                <app-search (onSelect)="onStudentSelective($event)" *ngIf="udata" [udata]="udata"></app-search>
                <div class="message" *ngIf="msgTxt">
                    <h5>پیام روز : {{msgTxt}}</h5>
                </div>
                <div class="card" *ngIf="msgTxt.includes('تعریف نشده است') == false" [ngStyle]="{'margin-top': msgTxt.length == 0?'85px':'20px'}">
                    <p style="text-align: center" *ngIf="!SelectedStudent.uid">در انتظار دریافت اطلاعات </p>
                    <div class="content" *ngIf="SelectedStudent.uid">
                        <img [hidden]="!disimg"  src="https://5bf3c8b2b293ba0012ce1945.storage.liara.ir/avatars/{{SelectedStudent.uid}}.png" width="250" height="250" alt="تصویر دانشجو">
                        <div class="info" *ngIf="SelectedStudent.uid">
                            <h4>{{SelectedStudent.firstname}} {{SelectedStudent.lastname}} </h4>
                            <span>{{SelectedStudent.uid}}</span><br><br>
                            <div *ngIf="SelectedStudent['foods'].length == 0">
                                <h3>این کاربر غذا ندارد!</h3>
                            </div>
                            <div *ngIf="SelectedStudent['foods'].length != 0 && delivered">
                                <span>
                                    <mat-chip-list>
                                        <mat-chip *ngFor="let food of SelectedStudent['foods']">{{food}}</mat-chip>
                                    </mat-chip-list>
                                </span>
                                <span *ngIf="SelectedStudent['drinkings'].length != 0">
                                    <mat-chip-list>
                                        <mat-chip *ngFor="let drink of SelectedStudent['drinkings']">{{drink}}
                                        </mat-chip>
                                    </mat-chip-list>
                                </span>
                                <span *ngIf="SelectedStudent['optionals'].length != 0">
                                    <mat-chip-list>
                                        <mat-chip *ngFor="let optional of SelectedStudent['optionals']">{{optional}}
                                        </mat-chip>
                                    </mat-chip-list>
                                </span>
                            </div>
                            <h3 *ngIf="message" style="float:left">{{message}}</h3>
                        </div>
                    </div>
                    <div class="footer" *ngIf="SelectedStudent.uid">
                        <p><b>وضعیت کارت</b> : <span *ngIf="SelectedStudent.card">کارت کاربر فعال است</span><span *ngIf="!SelectedStudent.card">کاربر کارت ندارد</span></p>
                        <div class="spacer"></div>
                        <span *ngIf="!SelectedStudent.card">
                          <button mat-button (click)="cardDefinition()">تعریف کارت</button>
                        </span>

                    </div>
                </div>
                <app-table *ngIf="studentData.length != 0" [data]="studentData"></app-table>
            </div>
            <button mat-mini-fab *ngIf="linestatus">
                <svg *ngIf="online == true" fill="#fff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
                    <path
                        d="M38.71 20.07C37.35 13.19 31.28 8 24 8c-5.78 0-10.79 3.28-13.3 8.07C4.69 16.72 0 21.81 0 28c0 6.63 5.37 12 12 12h26c5.52 0 10-4.48 10-10 0-5.28-4.11-9.56-9.29-9.93zM38 36H12c-4.42 0-8-3.58-8-8s3.58-8 8-8h1.42c1.31-4.61 5.54-8 10.58-8 6.08 0 11 4.92 11 11v1h3c3.31 0 6 2.69 6 6s-2.69 6-6 6z" />
                    </svg>
                <svg *ngIf="online == false" fill="#fff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
                    <path
                        d="M38.71 20.07C37.35 13.19 31.28 8 24 8c-2.95 0-5.7.87-8.02 2.34l2.92 2.92C20.43 12.47 22.16 12 24 12c6.08 0 11 4.92 11 11v1h3c3.31 0 6 2.69 6 6 0 2.27-1.27 4.22-3.13 5.24l2.9 2.9C46.32 36.33 48 33.37 48 30c0-5.28-4.11-9.56-9.29-9.93zM6 10.55l5.5 5.48C5.12 16.3 0 21.55 0 28c0 6.63 5.37 12 12 12h23.45l4 4L42 41.46 8.55 8 6 10.55zM15.45 20l16 16H12c-4.42 0-8-3.58-8-8s3.58-8 8-8h3.45z" />
                    </svg>
            </button>
        </mat-sidenav-content>
    </mat-sidenav-container>
</ng-container>
