mat-toolbar{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

mat-toolbar div.spacer{
    flex: 1 1;
}

div.background{
    position: absolute;
    background-color: #ef6c00;
    width: 100%;
    height: 250px;
    z-index: -10;
}

mat-sidenav-container{
    width: 100vw;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

mat-sidenav{
    width: 350px;
    padding-top: 80px;
}

div.body{
    display: flex;
    flex-direction: column;
    margin: 0 30px;
    margin-top: 150px;
}

div.card{
    background-color: #fff;
    padding: 20px;
    border-radius: .3rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

div.card div.content{
    display: flex;
    flex-wrap: nowrap;
}

div.card img{
    width: 150px;
    height: 200px;
    margin-left: 30px;
    border-radius: .2rem;
}

div.card div.info h4{
    margin-bottom: 0;
}

div.card div.info h4 + span{
    font-size: .8rem;
    margin-bottom: 20px;
    margin-right: 1px;
}

div.card div.info p{
    margin: 0;
    margin-top: 4px;
    margin-right: 10px;
}

div.card div.info div.error{
    color: red;
}

div.card div.footer{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

div.card div.footer p{
    margin: 0;
}

div.card div.footer div.spacer{
    flex: 1 1;
}

button[mat-mini-fab]{
    position: fixed;
    bottom: 3vh;
    left: 3vh;
}

button[mat-mini-fab] svg{
    width: 16px;
    height: 16px;
}