<div class="container">
  <div class="form">
    <div class="head">
      <h3>ورود به پنل</h3>
      <p>با نام کاربری و رمز عبور وارد پنل شوید.</p>
    </div>
    <div class="inputs">
      <mat-form-field appearance="outline">
        <mat-label>نام کاربری</mat-label>
        <input matInput type="text" name="username" [(ngModel)]="username">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>رمز عبور</mat-label>
        <input matInput type="password" name="password" [(ngModel)]="password">
      </mat-form-field>
      <div class="buttons">
        <h4>{{msg}}</h4>
        <button mat-stroked-button color="primary" (click)="login()">ورود</button>
      </div>
    </div>
  </div>
</div>
