<div class="container" *ngIf="options.length != 0">
  <input placeholder="کد ملی" type="text" aria-label="Number" [formControl]="myControl" [matAutocomplete]="auto">
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)='select($event.option.value)' [displayWith]="displayFn">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
      {{option['firstname']}} {{option['lastname']}} | {{option['uid']}}
    </mat-option>
  </mat-autocomplete>

  <button mat-raised-button style="margin-right: 8px" (click)="exportData()">دریافت خروجی</button>
<div>
