  <input *ngIf="input == 'defualt'" type="text" placeholder="جستوجو دانشجو" [formControl]="myControl" [matAutocomplete]="auto" id="input">
  <mat-form-field *ngIf="input == 'material'">
    <input matInput placeholder="جستوجو دانشجو" [formControl]="myControl" [matAutocomplete]="auto" id="input">
  </mat-form-field>
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let option of filteredOptions | async" (click)="select(option)">
    <span>{{option['firstname']}}</span><span> {{option['lastname']}} </span> <span> | {{option['uid']}}</span>
    </mat-option>
  </mat-autocomplete>
