div.card{
    width: 400px;
    height: 200px;
    border-radius: .3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.card div.content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

div.card div.content span{
    margin-top: 20px;
    font-size: 1rem;
}

div[mat-dialog-actions]{
    direction: ltr;
}